<div class="row" [class.green]="train.confirmed">
  <div class="column">
    {{ train.name }}
  </div>
  <div class="column">
    <span>
      {{ train.departureDestination | uppercase }}
    </span>
  </div>
  <div class="column">
    <span>  
      {{ train.arrivalDestination | uppercase }}
    </span>
  </div>
  <div class="column">
    {{ train.departureDate | date: 'HH:mm dMMMy' }}
  </div>
  <div class="column">
    {{ train.arrivalDate | date: 'HH:mm dMMMy' }}
  </div>
  <div class="column">
    {{ train.wagons?.length || 0 }}
  </div>
  <div class="column actions">
    <button (click)="deleteTrain()" class=" button-small button-outline">Delete</button>
    <button (click)="viewTrain()" class=" button-small button-outline">View</button>
  </div>
</div>
