<div class="grid css-grid">
  <div class="col span-1"></div>
  <div class="col span-10">
    <a href="javascript:;" class="button" routerLink="create">Add a train</a>
  </div>
</div>
<div class="grid css-grid">
  <div class="col span-1"></div>
  <div class="col span-10">
    <hr> {{ trains | async | json }}
    <div *ngIf="trains | async as trains; else loading;">
      <!-- loop the trains and display each train details -->
      <app-train-detail 
        *ngFor="let train of trains.models" 
        (delete)="executeDelete($event)"
        (view)="executeView($event)"
        [train]="train"></app-train-detail>

      <div *ngIf="!trains.length">
        No trains are currently scheduled.
      </div>
    </div>
    <ng-template #loading>
      <div>Loading</div>
    </ng-template>
  </div>
</div>
